<div class="row">
    <div class="col-sm-4">
        <img src="{{c.picture}}" width="100px" height="150px" style="border-radius: 5px;"/>
    </div>
  <div class="col-sm-8">
    <h4 style="cursor:pointer" [routerLink]="['/contact-details/',c.id]">{{c.gender|gender}}{{c.firstname}} {{c.lastname}}</h4>
    <p>{{c.city}} {{c.state}}</p>
    <p>{{c.phone}}</p>
    <button  [routerLink]="['/edit-contact',c.id]" class="btn btn-success" style="width:70px; margin: right 5px;">Edit</button>
    <button (click)="deleteContactById(c.id)" class="btn btn-danger">Delete</button>
</div>
</div>