<div class="row">
    <div class="col-sm-4 alert alert-warning" style="height:500px">
        <p>
            <button [routerLink]="['contact-list']" class="btn btn-secondary" style="width:100%">Contact List</button>
        </p>
        <p>
            <button [routerLink]="['home']" class="btn btn-secondary "  style="width:100%">Home</button>
        </p>
        <p>
            <button [routerLink]="['add-contact']" class="btn btn-secondary"  style="width:100%">Add new Contact</button>
        </p>
    </div>
    <div class="col-sm-8">
        <router-outlet></router-outlet>
    <!-- <app-parent></app-parent> -->
     <!-- <app-home></app-home> -->
     <!-- <app-contact-list></app-contact-list> -->
     <!-- <app-add-contact></app-add-contact> -->
     <!-- <app-edit-contact></app-edit-contact> -->

    </div>
</div>