<div *ngIf="contact">

<div class="row">
  <h3>Developed by Hughes</h3>
 </div>
<div class="row">
    <img src={{contact.picture}} width="300px" height="400px">
 </div>
<div class="row">
   <div class="col-sm-4">Id</div>
   <div class="col-sm-8">{{contact.id}}</div>
</div>
<div class="row">
    <div class="col-sm-4">First Name</div>
    <div class="col-sm-8">{{contact.firstname}}</div>
 </div>

 <div class="row">
    <div class="col-sm-4">Last Name</div>
    <div class="col-sm-8">{{contact.lastname}}</div>
 </div>

 <div class="row">
    <div class="col-sm-4">Gender</div>
    <div class="col-sm-8">{{contact.gender}}</div>
 </div>

 <div class="row">
    <div class="col-sm-4">Date of birth</div>
    <div class="col-sm-8">{{contact.dob}}</div>
 </div>
 <div class="row">
    <div class="col-sm-4">Email</div>
    <div class="col-sm-8">{{contact.email}}</div>
 </div>
 <div class="row">
    <div class="col-sm-4">Phone</div>
    <div class="col-sm-8">{{contact.phone}}</div>
 </div>
 <div class="row">
    <div class="col-sm-4">City</div>
    <div class="col-sm-8">{{contact.city}}</div>
 </div>
 <div class="row">
    <div class="col-sm-4">State</div>
    <div class="col-sm-8">{{contact.state}}</div>
 </div>
 <div class="row">
    <div class="col-sm-4">Country</div>
    <div class="col-sm-8">{{contact.country}}</div>
 </div>

</div>